* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}


/*Body*/
body {
    color: black;
    background-color: white;
}


/*Website alap elemek*/
header {

}

nav {

}

main {

}

section {

}

article {

}

aside {

}

footer {

}


/*Divek*/




/*Classok*/


