@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}


/*Body*/
body {
    color: black;
    background-color: white;
}

/*Egyebek*/

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

/*Website alap elemek*/
header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

nav {
    background-color: cadetblue;
}

main {
    background-color: cadetblue;
}

section {
    background-color: cadetblue;
}

article {
    background-color: cadetblue;
}

aside {
    background-color: cadetblue;
}

footer {
    background-color: cadetblue;
}


/*Divek*/




/*Classok*/


